<% provide(:title , 'Contact') %>
<h1>Contact</h1>
<p class="general-p email">
	<%= mail_to "sabine.g.vogel@gmail.com","email me at: sabine.g.vogel@gmail.com",  :subject => "I saw your resume, are you still on the market?"  %> 
	<br/>
 <p class="general-p"> google voice: 415.889.8916 </p>
</p> 