<% provide(:title, 'Help') %>
<h1>Learn</h1>
<p class="general-p">
   Michael Hartl's generous work to benefit those interested in
   learning ROR:
  <a href="http://railstutorial.org/help">Rails Tutorial help page</a>, 
   
  <a href="http://railstutorial.org/book">Rails Tutorial book</a>.
</p>