<div class="center hero-unit">
  <h2>Welcome</h2>

  <h2 class ="h2home">
    <p>
    This is the home page for an app that I am building
	to learn and experiment with Ruby and Rails. 
	It is based on this <a href="http://railstutorial.org/">Ruby on Rails</a>
    sample application, a comprehensive intermediate tutorial on ROR. It uses: </p>
	
	 </h2>
	<ul class="ulhome">	
	    <li>RSpec, Capybara, and Guard for BDD with 61 tests</li>
		<li>Bcrypt and has_secure_password for user authentication </li>
		<li>FactoryGirl for test data, <a href="http://Github.com/">Git</a> for revision control</li>
		<li>Sqllite db for dev and postgres for production</li>
		<li>Bootstrap-sass for modern look and feel and partials for tidy layout</li>
		<li>Annotate for model annotation</li>
		
	</ul>
	<h2>
	 <p>
	It is not meant to be perfect, but a learning space.
	 </p>
	</h2>
 

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>