<div class="center hero-unit">
  	<h2 style="">Hi, nice to meet you.</h2>

   <aside style="float:left;">
   
    	<%= image_tag("rails.png", height: '110', width:'64') %>
	</aside>
    <section style="width:500px;padding-left:20px;text-align:left">
     <p> I am an app for learning and experimentation on top of the completed <a href="http://railstutorial.org/"> railstutorial.org </a> comprehensive intermediate tutorial by M. Hartl.</p> 
  </section>
	

	<section >
		<ul >
	    <li>RSpec, Capybara, FactoryGirl & Guard TDD with 142 examples, 0 failures</li>
		<li>Bcrypt and has_secure_password for  user authentication from scratch</li>
		<li>Bootstrap-sass for modern look and feel and partials for tidy layout</li>
		<li>'A RailsCast a day' add-ons working space</li>
		<li>Rails best practices and patterns laboratory</li>
		</ul>
    </section>
	<h2>
	 
	</h2>
 

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

