<div class="center hero-unit">
  <h2>Hi, nice to meet you.</h2>


    <section>
    I am an app for learning and experimentation with Ruby and Rails on top of the completed 
	<a href="http://railstutorial.org/">Ruby on Rails</a> sample application, a comprehensive intermediate tutorial by M. Hartl. 
</section>
	

	<aside>
	    <li>RSpec, Capybara,FactoryGirl and Guard for BDD with 142 examples, 0 failures</li>
		<li>Bcrypt and has_secure_password for  user authentication from scratch</li>
		<li>Bootstrap-sass for modern look and feel and partials for tidy layout</li>
		<li> A RailsCast a day as an add-ons:</li>
		
</aside>
	<h2>
	 
	</h2>
 

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

